In [60]:
" AIR BNB ANALYSIS PROJECT "

' AIR BNB ANALYSIS PROJECT '

In [61]:
import json
import pandas as pd

In [62]:
def Common_data():
    path=r"C:\Users\ADMIN\Documents\sample_airbnb.json"
    Data=open(path,'r')
    datadetails=json.load(Data)
    data = []
    
    for item in datadetails:
        details = {
            "Id": item['_id'],
            "URL": item['listing_url'],
            "Name": item['name'],
            "Description": item['description'],
            "Neighbour_overview":item['neighborhood_overview'],
            "Notes": item['notes'],
            "House_rules": item.get('house_rules'),
            "Property_type": item.get('property_type'),
            "Room_type": item.get('room_type'),
            "Bed_type": item.get('bed_type'),
            "Minimum_night":item["minimum_nights"],
            "Maximum_night":item["maximum_nights"],
            'Policy':item['cancellation_policy'],
            'First_review':item.get('first_review'),
            "Last_review":item.get('last_review'),
            "Accomodation":item['accommodates'],
            "Bedrooms":item.get('bedrooms'),
            "Beds":item.get('beds'),
            "No.of.reviews":item['number_of_reviews'],
            "Bathrooms":item.get('bathrooms'), 
            "Price":item['price'],
            "CleaningFee":item.get('cleaning_fee'),
            "ExtraPeople":item['extra_people'],
            "Guests":item['guests_included']}
        data.append(details)
    
    Detailsdf=pd.DataFrame(data)
    return Detailsdf

In [63]:
df1=Common_data()

In [64]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  5555 non-null   object
 1   URL                 5555 non-null   object
 2   Name                5555 non-null   object
 3   Description         5555 non-null   object
 4   Neighbour_overview  5555 non-null   object
 5   Notes               5555 non-null   object
 6   House_rules         5555 non-null   object
 7   Property_type       5555 non-null   object
 8   Room_type           5555 non-null   object
 9   Bed_type            5555 non-null   object
 10  Minimum_night       5555 non-null   object
 11  Maximum_night       5555 non-null   object
 12  Policy              5555 non-null   object
 13  First_review        4167 non-null   object
 14  Last_review         4167 non-null   object
 15  Accomodation        5555 non-null   int64
 16  Bedrooms            5550 non-null   float64
 17  Beds                5542 non-null   float64
 18  No.of.reviews       5555 non-null   int64
 19  Bathrooms           5545 non-null   float64
 20  Price               5555 non-null   float64
 21  CleaningFee         4024 non-null   float64
 22  ExtraPeople         5555 non-null   float64
 23  Guests              5555 non-null   float64
dtypes: float64(7), int64(2), object(15)
memory usage: 1.0+ MB

In [65]:
# To check null values
df1.isnull().sum()

Id                       0
URL                      0
Name                     0
Description              0
Neighbour_overview       0
Notes                    0
House_rules              0
Property_type            0
Room_type                0
Bed_type                 0
Minimum_night            0
Maximum_night            0
Policy                   0
First_review          1388
Last_review           1388
Accomodation             0
Bedrooms                 5
Beds                    13
No.of.reviews            0
Bathrooms               10
Price                    0
CleaningFee           1531
ExtraPeople              0
Guests                   0
dtype: int64

In [66]:
df1[['Bedrooms', 'Beds', 'Bathrooms','CleaningFee']].describe()

          Bedrooms         Beds    Bathrooms  CleaningFee
count  5550.000000  5542.000000  5545.000000  4024.000000
mean      1.411712     2.071454     1.291163    94.074801
std       1.041942     1.619660     0.702265   110.203782
min       0.000000     0.000000     0.000000     0.000000
25%       1.000000     1.000000     1.000000    23.000000
50%       1.000000     2.000000     1.000000    60.000000
75%       2.000000     3.000000     1.000000   129.000000
max      20.000000    25.000000    16.000000  2000.000000

In [67]:
df1[['Bedrooms', 'Beds', 'Bathrooms','CleaningFee']].median()

Bedrooms        1.0
Beds            2.0
Bathrooms       1.0
CleaningFee    60.0
dtype: float64

In [68]:
# Impute missing data
df1.fillna({'Bedrooms':df1['Bedrooms'].median(),
                    'Beds':df1['Beds'].median(),
                    'Bathrooms':df1['Bathrooms'].median(),
                    'CleaningFee':df1['CleaningFee'].median(),
                    "First_review":0,
                    "Last_review":0},inplace=True)

In [69]:
# Replacing empty string with values
df1.replace({"Neighbour_overview":{'':'No Neighbour data'},
        "Notes":{'':'No Notes data'},
        "House_rules":{'':'No House Rules data'}},inplace=True)

In [70]:
df1.isna().sum()

Id                    0
URL                   0
Name                  0
Description           0
Neighbour_overview    0
Notes                 0
House_rules           0
Property_type         0
Room_type             0
Bed_type              0
Minimum_night         0
Maximum_night         0
Policy                0
First_review          0
Last_review           0
Accomodation          0
Bedrooms              0
Beds                  0
No.of.reviews         0
Bathrooms             0
Price                 0
CleaningFee           0
ExtraPeople           0
Guests                0
dtype: int64

In [71]:
#Checking data types
df1.dtypes

Id                     object
URL                    object
Name                   object
Description            object
Neighbour_overview     object
Notes                  object
House_rules            object
Property_type          object
Room_type              object
Bed_type               object
Minimum_night          object
Maximum_night          object
Policy                 object
First_review           object
Last_review            object
Accomodation            int64
Bedrooms              float64
Beds                  float64
No.of.reviews           int64
Bathrooms             float64
Price                 float64
CleaningFee           float64
ExtraPeople           float64
Guests                float64
dtype: object

In [72]:
#Changing data types
df1['Id']=df1['Id'].astype(int)
df1['Bedrooms']=df1['Bedrooms'].astype(int)
df1['Beds']=df1['Beds'].astype(int)
df1['Bathrooms']=df1['Bathrooms'].astype(int)
df1['Price']=df1['Price'].astype(int)
df1['CleaningFee']=df1['CleaningFee'].astype(int)
df1['ExtraPeople']=df1['ExtraPeople'].astype(int)
df1['Guests']=df1['Guests'].astype(int)

In [73]:
# Changed datatypes
df1.dtypes

Id                     int32
URL                   object
Name                  object
Description           object
Neighbour_overview    object
Notes                 object
House_rules           object
Property_type         object
Room_type             object
Bed_type              object
Minimum_night         object
Maximum_night         object
Policy                object
First_review          object
Last_review           object
Accomodation           int64
Bedrooms               int32
Beds                   int32
No.of.reviews          int64
Bathrooms              int32
Price                  int32
CleaningFee            int32
ExtraPeople            int32
Guests                 int32
dtype: object

In [74]:
# Collecting Amenities Details
import json
import pandas as pd


def Amenitiesfunction():

    amenitiespath=r"C:\Users\ADMIN\Documents\sample_airbnb.json"

    Data=open(amenitiespath,'r')

    amenitiesdetails=json.load(Data)

    amenities = []

    for a in amenitiesdetails:
        if "_id" in a and "amenities" in a:
            amenities_string = ", ".join(a["amenities"])
            amenities.append({"AmenitiesId": a["_id"], "Amenities": amenities_string})
    
    amenities_df = pd.DataFrame(amenities)
    return amenities_df

In [75]:
Amenitiesdframe=Amenitiesfunction()

In [76]:
Amenitiesdframe.isnull().sum()

AmenitiesId    0
Amenities      0
dtype: int64

In [77]:
Amenitiesdframe.dtypes

AmenitiesId    object
Amenities      object
dtype: object

In [78]:
# Changing datatypes
Amenitiesdframe['AmenitiesId']=Amenitiesdframe['AmenitiesId'].astype(int)

In [79]:
Amenitiesdframe

      AmenitiesId                                          Amenities
0         1003530  Internet, Wifi, Air conditioning, Kitchen, Ele...
1        10133554  Internet, Wifi, Air conditioning, Free parking...
2        10059872  Air conditioning, Kitchen, Smoking allowed, Do...
3        10084023  TV, Wifi, Air conditioning, Kitchen, Elevator,...
4        10091713  TV, Wifi, Kitchen, Elevator, Heating, Washer, ...
...           ...                                                ...
5550      9985696  TV, Cable TV, Internet, Wifi, Kitchen, Buzzer/...
5551      9993190  TV, Wifi, Air conditioning, Pool, Kitchen, Fre...
5552      9887054  TV, Wifi, Air conditioning, Kitchen, Elevator,...
5553      9907907  TV, Internet, Wifi, Kitchen, Washer, Dryer, Sm...
5554      9936016  TV, Cable TV, Internet, Wifi, Air conditioning...

[5555 rows x 2 columns]

In [80]:
# # Host Details
import json

def hostfunction():

    path2 = r"C:\Users\ADMIN\Documents\sample_airbnb.json"

    hostdata=open(path2,'r')
    
    hostfiles=json.load(hostdata)

    host = []

    for i in hostfiles:
        hostdetails={
            "Id": i.get('_id'),
            "HostId":i['host'].get('host_id'),
            "Host_Url":i['host']['host_url'],
            "Host_Name":i['host']['host_name'],
            "Host_location":i['host']['host_location'],
            'Host_About':i['host']['host_about'],
            "Host_thumbnail":i['host']['host_thumbnail_url'],
            "Host_picture_url":i['host']['host_picture_url'],
            'Host_neighbourhood':i['host']['host_neighbourhood'],
            "Host_profile":i['host']['host_has_profile_pic'],
            "Host_identity":i['host']['host_identity_verified'],
            "Host_listing_count":i['host']['host_listings_count'],
            "Host_verification":",".join(i['host']['host_verifications'])}
        host.append(hostdetails)
    hostdf=pd.DataFrame(host)
    return hostdf

In [81]:
df2=hostfunction()

In [82]:
# Replacing empty string with values
df2.replace({"Host_About":{'':'No Data'},"Host_neighbourhood":{'':'No Neighbourhood data'}},inplace=True)

In [83]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  5555 non-null   object
 1   HostId              5555 non-null   object
 2   Host_Url            5555 non-null   object
 3   Host_Name           5555 non-null   object
 4   Host_location       5555 non-null   object
 5   Host_About          5555 non-null   object
 6   Host_thumbnail      5555 non-null   object
 7   Host_picture_url    5555 non-null   object
 8   Host_neighbourhood  5555 non-null   object
 9   Host_profile        5555 non-null   bool
 10  Host_identity       5555 non-null   bool
 11  Host_listing_count  5555 non-null   int64
 12  Host_verification   5555 non-null   object
dtypes: bool(2), int64(1), object(10)
memory usage: 488.4+ KB

In [84]:
df2.isnull().sum()

Id                    0
HostId                0
Host_Url              0
Host_Name             0
Host_location         0
Host_About            0
Host_thumbnail        0
Host_picture_url      0
Host_neighbourhood    0
Host_profile          0
Host_identity         0
Host_listing_count    0
Host_verification     0
dtype: int64

In [85]:
df2.dtypes

Id                    object
HostId                object
Host_Url              object
Host_Name             object
Host_location         object
Host_About            object
Host_thumbnail        object
Host_picture_url      object
Host_neighbourhood    object
Host_profile            bool
Host_identity           bool
Host_listing_count     int64
Host_verification     object
dtype: object

In [86]:
# Changing datatypes
df2['Id']=df2['Id'].astype(int)
df2['HostId']=df2['HostId'].astype(int)

In [87]:

# Address Details

import json

def Addressfunction():

    path3 = r"C:\Users\ADMIN\Documents\sample_airbnb.json"

    Addressdata=open(path3,'r')

    Addressfiles=json.load(Addressdata)

    Address = []

    for a in Addressfiles:
        address_details = {
            "Id": a.get('_id'),
            "Street": a['address'].get('street'),
            "SubUrb": a['address'].get('suburb'),
            "Government_Area":a['address']['government_area'],
            "Market":a['address']['market'],
            "Country":a['address']['country'],
            "Country_code":a['address']['country_code'],
            "Location_type":a['address']['location']['type'],
            "longitude": a['address']['location'].get('coordinates',[])[0],
            "latitude": a['address']['location'].get('coordinates',[])[1],
            "is_location_exact": a['address']['location'].get('is_location_exact')}
        Address.append(address_details)

    Addressdf=pd.DataFrame(Address)
    return Addressdf

In [88]:
df3=Addressfunction()

In [89]:
# Checking null values
df3.isnull().sum()

Id                   0
Street               0
SubUrb               0
Government_Area      0
Market               0
Country              0
Country_code         0
Location_type        0
longitude            0
latitude             0
is_location_exact    0
dtype: int64

In [90]:
# Availability Details

import json

def AvailabilityData():

    path4 = r"C:\Users\ADMIN\Documents\sample_airbnb.json"

    AvailData=open(path4,'r')

    Availablefiles=json.load(AvailData)

    Availability = []

    for d in Availablefiles:
        availabilitydetails = {"Id":d.get('_id'),
                            "Availability_30":d['availability']['availability_30'],
                            "Availability_60":d['availability']['availability_60'],
                            "Availability_90":d['availability']['availability_90'],
                            "Availability_365":d['availability']['availability_365']}
        Availability.append(availabilitydetails)
    
    Availabilitydf=pd.DataFrame(Availability)
    return Availabilitydf

In [91]:
df4=AvailabilityData()

In [92]:
df4.isnull().sum()

Id                  0
Availability_30     0
Availability_60     0
Availability_90     0
Availability_365    0
dtype: int64

In [93]:
# Review Score Details

import json
import pandas as pd

def ReviewScorefunction():

    path5 =  r"C:\Users\ADMIN\Documents\sample_airbnb.json"

    ReviewScoreData=open(path5,'r')

    ReviewScorefiles=json.load(ReviewScoreData)

    ReviewScore = []

    for r in ReviewScorefiles:
        ReviewScoreDetails = {"Id":r.get('_id'),
        "ReviewScoreAccuracy":r['review_scores'].get('review_scores_accuracy'),
        "ReviewScoreCleanliness":r['review_scores'].get('review_scores_cleanliness'),
        "ReviewScoreChecking":r['review_scores'].get('review_scores_checkin'),
        "ReviewScoreCommunication":r['review_scores'].get("review_scores_communication"),
        "ReviewScoreLocation":r['review_scores'].get("review_scores_location"),
        "ReviewScoreValue":r['review_scores'].get('review_scores_value'),
        "ReviewScoreRating":r['review_scores'].get('review_scores_rating')}
        ReviewScore.append(ReviewScoreDetails)

    ReviewScoredf=pd.DataFrame(ReviewScore)
    return ReviewScoredf

In [94]:
df5=ReviewScorefunction()

In [95]:
df5.dtypes

Id                           object
ReviewScoreAccuracy         float64
ReviewScoreCleanliness      float64
ReviewScoreChecking         float64
ReviewScoreCommunication    float64
ReviewScoreLocation         float64
ReviewScoreValue            float64
ReviewScoreRating           float64
dtype: object

In [96]:
df5[['ReviewScoreAccuracy','ReviewScoreCleanliness','ReviewScoreChecking','ReviewScoreCommunication','ReviewScoreLocation','ReviewScoreValue','ReviewScoreRating']].median()

ReviewScoreAccuracy         10.0
ReviewScoreCleanliness      10.0
ReviewScoreChecking         10.0
ReviewScoreCommunication    10.0
ReviewScoreLocation         10.0
ReviewScoreValue             9.0
ReviewScoreRating           95.0
dtype: float64

In [97]:
df5[['ReviewScoreAccuracy','ReviewScoreCleanliness','ReviewScoreChecking','ReviewScoreCommunication','ReviewScoreLocation','ReviewScoreValue','ReviewScoreRating']].describe()

,ReviewScoreAccuracy,ReviewScoreCleanliness,ReviewScoreChecking,ReviewScoreCommunication,ReviewScoreLocation,ReviewScoreValue,ReviewScoreRating
count,4079.000000,4082.000000,4080.000000,4081.000000,4081.000000,4080.000000,4081.000000
mean,9.557490,9.315287,9.699265,9.688312,9.601078,9.305147,93.099240
std,0.899603,1.088492,0.784753,0.806155,0.759023,0.939855,9.023483
min,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,20.000000
25%,9.000000,9.000000,10.000000,10.000000,9.000000,9.000000,90.000000
50%,10.000000,10.000000,10.000000,10.000000,10.000000,9.000000,95.000000
75%,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,99.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,100.000000

In [98]:
df5.isna().sum()

Id                             0
ReviewScoreAccuracy         1476
ReviewScoreCleanliness      1473
ReviewScoreChecking         1475
ReviewScoreCommunication    1474
ReviewScoreLocation         1474
ReviewScoreValue            1475
ReviewScoreRating           1474
dtype: int64

In [99]:
df5.isnull().sum()

Id                             0
ReviewScoreAccuracy         1476
ReviewScoreCleanliness      1473
ReviewScoreChecking         1475
ReviewScoreCommunication    1474
ReviewScoreLocation         1474
ReviewScoreValue            1475
ReviewScoreRating           1474
dtype: int64

In [100]:
# Impute missing data
df5.fillna({'ReviewScoreAccuracy':df5['ReviewScoreAccuracy'].median(),
        'ReviewScoreCleanliness':df5['ReviewScoreCleanliness'].median(),
        'ReviewScoreChecking':df5['ReviewScoreChecking'].median(),
        'ReviewScoreCommunication':df5['ReviewScoreCommunication'].median(),
        'ReviewScoreLocation':df5['ReviewScoreLocation'].median(),
        'ReviewScoreValue':df5['ReviewScoreValue'].median(),
        'ReviewScoreRating':df5['ReviewScoreRating'].median()},inplace=True)

In [101]:
# Changing datatypes
df5['Id']=df5['Id'].astype('Int64')
df5['ReviewScoreAccuracy']=df5['ReviewScoreAccuracy'].astype(int)
df5['ReviewScoreCleanliness']=df5['ReviewScoreCleanliness'].astype(int)
df5['ReviewScoreChecking']=df5['ReviewScoreChecking'].astype(int)
df5['ReviewScoreCommunication']=df5['ReviewScoreCommunication'].astype(int)
df5['ReviewScoreLocation']=df5['ReviewScoreLocation'].astype(int)
df5['ReviewScoreValue']=df5['ReviewScoreValue'].astype(int)
df5['ReviewScoreRating']=df5['ReviewScoreRating'].astype(int)

In [102]:
df5.dtypes

Id                          Int64
ReviewScoreAccuracy         int32
ReviewScoreCleanliness      int32
ReviewScoreChecking         int32
ReviewScoreCommunication    int32
ReviewScoreLocation         int32
ReviewScoreValue            int32
ReviewScoreRating           int32
dtype: object

In [103]:
# Review Details

import json

def Reviewfunction():
        
    path6 = r"C:\Users\ADMIN\Documents\sample_airbnb.json"

    ReviewData=open(path6,'r')

    Reviewfiles=json.load(ReviewData)

    Review= []

    for l in Reviewfiles:
        reviews = l.get('reviews', [])
        for review in reviews:
            Reviewdetails = {"Id": review.get('_id'),"Date":review.get("date"),
                            "Listing_id":review.get("listing_id"),
                            "Reviewer_Id":review.get("reviewer_id"),
                            "ReviewerName":review.get('reviewer_name'),
                            "Comment":review.get('comments')}
            Review.append(Reviewdetails)
    
    Reviewdf=pd.DataFrame(Review)
    return Reviewdf

In [104]:
df6=Reviewfunction()

In [105]:
df6

,Id,Date,Listing_id,Reviewer_Id,ReviewerName,Comment
0,4351675,2013-04-29 04:00:00,1003530,3708459,Josh,i had a really pleasant stay at greta's place....
1,4848277,2013-05-28 04:00:00,1003530,4609491,Ralf,"Greta has been a great host, and her apartment..."
2,5094175,2013-06-11 04:00:00,1003530,6741662,Mame,Greta was wonderful. We arrived late at night ...
3,5497796,2013-07-02 04:00:00,1003530,474156,Lars,"Greta's place is very well located, so close t..."
4,6933005,2013-08-31 04:00:00,1003530,6067127,Nicole,I had a wonderful stay at Greta's NYC apartmen...
...,...,...,...,...,...,...
149787,311261442,2018-08-20 04:00:00,9993190,3140787,Harold,Condo is located in gated community with 3 poo...
149788,105800033,2016-10-02 04:00:00,9887054,97595938,绍彬,就是日用品不齐其他没有任何问题
149789,108875304,2016-10-17 04:00:00,9887054,97695338,Hayden,Cat is a great host and will reply as soon as ...
149790,111029283,2016-10-29 04:00:00,9887054,32130541,Dew,Cat was very helpful for our arrival and stay.
149791,124437381,2017-01-01 05:00:00,9887054,45066433,Ilia,The building itself is old and the room is har...

In [106]:
df6.isnull().sum()

Id              0
Date            0
Listing_id      0
Reviewer_Id     0
ReviewerName    1
Comment         8
dtype: int64

In [107]:
df6[['Id','Date','Listing_id','Reviewer_Id','ReviewerName','Comment']].describe()

,Id,Date,Listing_id,Reviewer_Id,ReviewerName,Comment
count,149792,149792,149792,149792,149791,149784
unique,149792,2778,3923,146640,32901,146782
top,4351675,2019-01-01 05:00:00,4069429,20775242,David,The host canceled this reservation the day bef...
freq,1,346,533,24,1072,126

In [108]:
                                                        #  Replacing empty string with values
df6.fillna({'ReviewerName':df6['ReviewerName'].count(),'Comment':df6['Comment'].count()},inplace=True)

In [109]:
                                                            # Changing datatypes
df6['Id']=df6['Id'].astype(int)
df6['Date']=df6['Date'].astype('datetime64[ns]')
df6['Listing_id']=df6['Listing_id'].astype(int)
df6['Reviewer_Id']=df6['Reviewer_Id'].astype(int)

In [110]:
df6.dtypes

Id                       int32
Date            datetime64[ns]
Listing_id               int32
Reviewer_Id              int32
ReviewerName            object
Comment                 object
dtype: object

In [111]:
df6.isnull().sum()

Id              0
Date            0
Listing_id      0
Reviewer_Id     0
ReviewerName    0
Comment         0
dtype: int64

In [112]:
'e'

'e'

In [114]:
df6

,Id,Date,Listing_id,Reviewer_Id,ReviewerName,Comment
0,4351675,2013-04-29 04:00:00,1003530,3708459,Josh,i had a really pleasant stay at greta's place....
1,4848277,2013-05-28 04:00:00,1003530,4609491,Ralf,"Greta has been a great host, and her apartment..."
2,5094175,2013-06-11 04:00:00,1003530,6741662,Mame,Greta was wonderful. We arrived late at night ...
3,5497796,2013-07-02 04:00:00,1003530,474156,Lars,"Greta's place is very well located, so close t..."
4,6933005,2013-08-31 04:00:00,1003530,6067127,Nicole,I had a wonderful stay at Greta's NYC apartmen...
...,...,...,...,...,...,...
149787,311261442,2018-08-20 04:00:00,9993190,3140787,Harold,Condo is located in gated community with 3 poo...
149788,105800033,2016-10-02 04:00:00,9887054,97595938,绍彬,就是日用品不齐其他没有任何问题
149789,108875304,2016-10-17 04:00:00,9887054,97695338,Hayden,Cat is a great host and will reply as soon as ...
149790,111029283,2016-10-29 04:00:00,9887054,32130541,Dew,Cat was very helpful for our arrival and stay.
149791,124437381,2017-01-01 05:00:00,9887054,45066433,Ilia,The building itself is old and the room is har...

MYSQL CONNECTION

In [116]:
#ACCESSING CONNECT TO MYSQL

import mysql.connector         
mydb = mysql.connector.connect(host="localhost",user="root",password="",database="Airbnb",connect_timeout=10)
print(mydb)
mycursor = mydb.cursor(buffered=True)
mycursor.execute('SET GLOBAL max_allowed_packet=1073741824')  #this is add due to the packet size is increased

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000014E400863C0>

In [117]:
mycursor.execute('use Airbnb')

In [ ]:
mycursor.execute('drop table common_data')

In [ ]:
#CREATING TABLE FOR COMMON_DATA

mycursor.execute('CREATE TABLE Airbnb.common_datas (Id INT PRIMARY KEY,URL VARCHAR(255),Name VARCHAR(255),Description VARCHAR(255),Neighbour_overview VARCHAR(255),Notes VARCHAR(255),House_rules VARCHAR(255),Property_type VARCHAR(255),Room_type VARCHAR(255),Bed_type VARCHAR(255),Minimum_night INT,Maximum_night INT,Policy VARCHAR(255),First_review DATETIME,Last_review DATETIME,Accommodation INT,Bedrooms INT,Beds INT,No_of_reviews INT,Bathrooms INT,Price INT, CleaningFee INT,ExtraPeople INT,Guests INT)')

In [66]:

Insertdetails = [tuple(row) for row in df1.values]
cd_sql = '''INSERT INTO common_datas (Id, 
            URL, 
            Name, 
            Description, 
            Neighbour_overview, 
            Notes, 
            House_rules, 
            Property_type, 
            Room_type, 
            Bed_type, 
            Minimum_night, 
            Maximum_night, 
            Policy, 
            First_review, 
            Last_review, 
            Accommodation, 
            Bedrooms, 
            Beds, 
            No_of_reviews, 
            Bathrooms, 
            Price, 
            CleaningFee, 
            ExtraPeople,
            Guests)
            VALUES (%s,%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''

mycursor.executemany(cd_sql,Insertdetails)
mydb.commit()

AMENTITIES

In [164]:
#Create table for Amenities Table
mycursor.execute("""CREATE TABLE IF NOT EXISTS Amenities(AmenitiesId INT PRIMARY KEY,Amenities VARCHAR(255))""")

In [165]:
# Insert details to the Amenities Table

amenities_data = [tuple(row) for row in Amenitiesdframe.values]

amenities_sql = 'INSERT INTO Airbnb.Amenities(AmenitiesId, Amenities)VALUES(%s, %s)'

mycursor.executemany(amenities_sql, amenities_data)

mydb.commit()

HOST TABLE

In [167]:
# create table for host
mycursor.execute("""CREATE TABLE IF NOT EXISTS Airbnb.Host_table(Id INT PRIMARY KEY,HostId VARCHAR(255),Host_Url VARCHAR(255),Host_Name VARCHAR(255),Host_location VARCHAR(255),Host_About TEXT,Host_thumbnail VARCHAR(255),Host_picture_url VARCHAR(255),Host_neighbourhood VARCHAR(255),Host_profile VARCHAR(255),Host_identity VARCHAR(255),Host_listing_count INT,Host_verification TEXT)""")

In [168]:
# Insert details to the Host Table
host_data = [tuple(row) for row in df2.values]

host_sql ='INSERT INTO Airbnb.Host_table(Id, HostId, Host_Url, Host_Name, Host_location, Host_About, Host_thumbnail, Host_picture_url, Host_neighbourhood, Host_profile, Host_identity, Host_listing_count, Host_verification)VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'

mycursor.executemany(host_sql, host_data)

mydb.commit()

ADDRESS TABLE

In [171]:
#create table for address

mycursor.execute('CREATE TABLE IF NOT EXISTS Address_table (Id INT,Street TEXT,SubUrb TEXT,Government_Area TEXT,Market TEXT,Country TEXT,Country_code TEXT,Location_type TEXT,Longitude REAL,Latitude REAL,is_location_exact INTEGER)')

In [172]:
# Insert details to the Address Table

Insertsdetails = [tuple(row) for row in df3.values]

address_sql ='INSERT INTO Address_table(Id, Street, SubUrb, Government_Area, Market, Country, Country_code, Location_type, Longitude,Latitude, is_location_exact)VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
mycursor.executemany(address_sql, Insertsdetails)
mydb.commit()

AVAILABILTY TABLE

In [173]:
# create table for availability
mycursor.execute('''CREATE TABLE IF NOT EXISTS Airbnb.Availability_table(Id INT PRIMARY KEY,Availability_30 INT,Availability_60 INT,Availability_90 INT,Availability_365 INT)''')

In [174]:
# Insert details to the Availability Table

availdetails = [tuple(row) for row in df4.values]

availability_sql ='INSERT INTO Airbnb.Availability_table(Id, Availability_30, Availability_60, Availability_90, Availability_365)VALUES(%s,%s,%s,%s,%s)'

mycursor.executemany(availability_sql, availdetails)
mydb.commit()

ReviewScores_table

In [175]:
# Create table to the ReviewScores Table

mycursor.execute('''CREATE TABLE IF NOT EXISTS ReviewScores_table (Id INT PRIMARY KEY,ReviewScoreAccuracy REAL,ReviewScoreCleanliness REAL,ReviewScoreChecking REAL,ReviewScoreCommunication REAL,ReviewScoreLocation REAL,ReviewScoreValue REAL,ReviewScoreRating REAL)''')

In [176]:
# Insert details to the ReviewScores Table

reviewscore_data = [tuple(row) for row in df5.values]

reviewscore_sql ='INSERT INTO Airbnb.ReviewScores_table(Id, ReviewScoreAccuracy, ReviewScoreCleanliness, ReviewScoreChecking, ReviewScoreCommunication, ReviewScoreLocation, ReviewScoreValue, ReviewScoreRating)VALUES(%s,%s,%s,%s,%s,%s,%s,%s)'

mycursor.executemany(reviewscore_sql, reviewscore_data)

mydb.commit()

Reviews Table

In [60]:
# Create table to the Reviews Table

mycursor.execute('''CREATE TABLE IF NOT EXISTS Reviews_table (Id INT PRIMARY KEY,Date DATETIME,Listing_id INTEGER,Reviewer_Id INTEGER,ReviewerName TEXT,Comment TEXT)''')

In [ ]:
# Insert details to the Reviews Table

reviewdet = [tuple(row) for row in df6.values]

review_sql ='INSERT INTO Reviews_table(Id, Date, Listing_id, Reviewer_Id, ReviewerName, Comment)VALUES(%s,%s,%s,%s,%s,%s)'

mycursor.executemany(review_sql, reviewdet)

mydb.commit()

ALL FUNCION CHANGING TO CSV.FILES

In [69]:
#common_data_csv
df1.to_csv('Common_data.csv',index=False)

In [72]:
#Amenitiesdframe csv
Amenitiesdframe.to_csv('Amenitiesfunction.csv',index=False)

In [70]:
#hostfunction csv
df2.to_csv('hostfunction',index=False)

In [73]:
#Addressfunction csv
df3.to_csv('Addressfunction.csv',index=False)

In [74]:
#AvailabilityData csv
df4.to_csv('AvailabilityData.csv',index=False)

In [75]:
#ReviewScorefunction csv
df5.to_csv('ReviewScorefunction.csv',index=False)

In [60]:
df5

,Id,ReviewScoreAccuracy,ReviewScoreCleanliness,ReviewScoreChecking,ReviewScoreCommunication,ReviewScoreLocation,ReviewScoreValue,ReviewScoreRating
0,1003530,10,9,10,10,10,10,94
1,10133554,9,9,10,10,10,9,92
2,10059872,10,10,10,10,10,8,100
3,10084023,10,8,10,10,10,10,92
4,10091713,10,9,10,10,10,9,95
...,...,...,...,...,...,...,...,...
5550,9985696,10,10,10,10,10,9,95
5551,9993190,10,9,10,10,10,9,92
5552,9887054,10,9,10,10,10,9,85
5553,9907907,10,10,10,10,10,9,95
5554,9936016,10,10,10,10,10,9,95

In [58]:
#ReviewScores_table.csv
df6.to_csv('Reviews_table.csv',index=False)

ALL FUNCTION CALLING

In [118]:
df1
Amenitiesdframe
df2
df3
df4
df5
df6

,Id,Date,Listing_id,Reviewer_Id,ReviewerName,Comment
0,4351675,2013-04-29 04:00:00,1003530,3708459,Josh,i had a really pleasant stay at greta's place....
1,4848277,2013-05-28 04:00:00,1003530,4609491,Ralf,"Greta has been a great host, and her apartment..."
2,5094175,2013-06-11 04:00:00,1003530,6741662,Mame,Greta was wonderful. We arrived late at night ...
3,5497796,2013-07-02 04:00:00,1003530,474156,Lars,"Greta's place is very well located, so close t..."
4,6933005,2013-08-31 04:00:00,1003530,6067127,Nicole,I had a wonderful stay at Greta's NYC apartmen...
...,...,...,...,...,...,...
149787,311261442,2018-08-20 04:00:00,9993190,3140787,Harold,Condo is located in gated community with 3 poo...
149788,105800033,2016-10-02 04:00:00,9887054,97595938,绍彬,就是日用品不齐其他没有任何问题
149789,108875304,2016-10-17 04:00:00,9887054,97695338,Hayden,Cat is a great host and will reply as soon as ...
149790,111029283,2016-10-29 04:00:00,9887054,32130541,Dew,Cat was very helpful for our arrival and stay.
149791,124437381,2017-01-01 05:00:00,9887054,45066433,Ilia,The building itself is old and the room is har...